<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Parece que uma autenticação para sua conta foi solicitada.</p>
  <p>Se foi você, então basta utilizar o token abaixo nas rotas em que são autenticadas:</p>
  <p>
    {{token}}
  </p>
  <p>Se não foi você, então descarte esse email!</p>
  <p>
    Obrigado! <br />
    <strong>Equipe Creative Code</strong>
  </p>
</div>
